@mixin fontprop($size, $weight, $family) {
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  background: transparent;
  z-index: 2;
  margin-top: -39px;
  margin-bottom: 50px;

  .bookingHeader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    // height: 50px;
    text-align: center;
    background: color(lightmode);
    .bookingButton {
      display: flex;
      width: 50%;
      height: 20%;
      align-items: center;
      justify-content: center;
      border: 1px none color(button2);
      background: rgba(color(accent), 0.2);
      // padding: 2%;
      p {
        @include fontprop(14px, 600, $body);
        text-transform: uppercase;
        margin: 2%;
        color: color(button1);
      }
      &:hover,
      &:focus,
      &:focus-within {
        background: #fff;
        p {
          color: color(primary);
        }
      }
    }
    .activeBtn {
      background: #fff;
      p {
        color: color(primary);
      }
    }
  }
  .bookingBody {
    background: #fff;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .inputField {
      width: 40%;
      height: 3.5rem;

      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      background: #fff;
      border: 8px solid #fff;

      &:first-child {
        width: 30%;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-left: 1rem;

        ion-icon {
          width: 30px;
          height: 30px;
          color: color(primary);
          margin-right: 0.2rem;
        }
        input {
          width: 100%;
          height: 2rem;
          outline: none;
          border: none;
          padding: 0 0.2rem;

          background: transparent;
        }
      }
      &:nth-child(2) {
        width: 50%;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        ion-icon {
          width: 30px;
          height: 30px;
          color: color(primary);
          margin-right: 0.2rem;
        }
        input {
          width: 35%;
          height: 2rem;
          outline: none;
          border: none;
          padding: 0 0.2rem;
          background: transparent;
          font-size: 16px;
          font-weight: 500;
        }
      }

      &:last-child {
        width: 20%;
        padding: 0;
        margin-right: 1rem;
        button {
          width: 100%;
          height: 100%;
          background: color(primary);
          outline: none;
          border: none;
          color: #fff;
          transition: all 0.8s ease-in-out;
          font-size: 18px;
          font-weight: 600;

          &:hover {
            background: color(accent);
          }
        }
      }
    }
  }
}
//flatpicker css

.flatpickr-weekdays,.flatpickr-weekdays .flatpickr-weekdaycontainer,span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  background: color(primary) !important;
  color: #fff !important;
}
.flatpickr-current-month,
.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: color(primary) !important;
}


.flatpickr-day.startRange, .flatpickr-day.endRange{
    background: color(primary) !important;
    border-color: color(primary) !important;
}