:root {
    --primary: #8b7b55;
    --accent: #4a4a4a;
}
 

.container{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    
    
    .roomDetails{
        width: 25vw;
        margin-left: 1rem;

        h2{
            width: 100%;
            padding: 0.5rem;
            border-bottom: 1px solid var(--primary);
            color: var(--primary);
        }
        .bookDetails{
            width: 90%;
            margin: auto;


            h5{
                width: 100%;
                margin: 0.5rem auto;
                font-size: 16px;
                font-weight: 600;
                color: #8b7b55;

            }
            .dates{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-top: 0.5rem;
                .check{
                    width: fit-content;
                    h6{
                        color: #777;
                        font-size: 16px;
                        font-weight: 500;
                        text-transform: capitalize;

                    }
                    h5{
                        margin: 0.2rem auto;
                        font-size: 18px;
                        font-weight: 500;
                        color: var(--primary);
                    }
                    p{
                        font-size: 14px;
                        font-weight: 600;
                        color: #999;
                    }
                }
            }
            .totalDays{
                width: 100%;
                margin-top: 0.5rem;
                h6{
                    font-size: 14px;
                    font-weight: 500;
                    color: #777;

                }
                h5{
                    margin-top: 0.2rem;
                    margin-left: 1rem;
                }
                a{
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 500;
                    color: var(--accent);

                }
            }

            .selectedRooms{
                width: 100%;
                margin-top: 1rem;
                padding-bottom: 0.5rem;
                border-top: 1px solid rgba(#777, 0.2);
                border-bottom: 1px solid rgba(#777, 0.2);
                h4{
                    width: 90%;
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0.5rem auto;
                    margin-left: 0;
                }
                .roomsCard{
                    width: 100%;
                    margin-left: 0.5rem;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    h5{
                        margin: 0.2rem auto;
                    }
                    

                }
                a{
                    font-size: 14px;
                    text-decoration: none;
                    font-weight: 500;
                    color: var(--accent);
                }
                
            }
            .pricing{
                width: 100%;
                margin: 0.5rem auto;
                border: 1px solid rgba(#777, 0.3);
                
                .heading{
                    width: 95%;
                    margin: auto;
                    height: fit-content;
                    h4{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--accent);
                        margin-bottom: 0.3rem;
                        padding-top: 0.2rem;
                    }
                    p{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 14px;
                        font-weight: 400;
                        color: var(--accent);
                        margin-bottom: 0.5rem;
                    }

                }
                .highlight{
                    width: 100%;
                    height: fit-content;
                    padding: 0 0.5rem;
                    padding-bottom: 1rem;
                    background-color: rgba(#999, 0.3);
                }
            }



        }
    }


    .bookings{
        width: 60vw;        
        margin-top: 1rem;
        margin-left: 1rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;


        .boxes{
            width: 100%;
            height: fit-content;
            border: 1px solid rgba( #999, 0.3);
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;
            margin-bottom: 1rem;

            h4{
                font-size: 18px;
                font-weight: 700;

                margin-bottom: 0.5rem;
                color: var(--accent);

            }
            p{
                width: fit-content;
                display: flex;
                align-items: center;
                font-size: 15px;
                font-weight: 400;
                color: var(--accent);
                ion-icon{
                    color: red;
                    margin-right: 0.5rem;
                }
            }

            h5{
                width: fit-content;
                display: flex;
                align-items: center;
                font-size: 15px;
                font-weight: 400;
                color: var(--accent);
                padding: 0.5rem 0;
                ion-icon{
                    color: var(--accent);
                    margin-right: 0.5rem;
                }
                a{
                    text-decoration: none;
                    color: blue;
                }
            }

            .badge{
                width: fit-content;
                height: fit-content;
                padding: 0.5rem ;
                background: rgba(#999, 0.3);
                color: var(--accent);
                span{
                    color: red;
                }

            }

            .bookingForm{
                width: auto;
                background: rgba( #999, 0.3);
                margin-right: 0.5rem;
                padding-bottom: 0.5rem;
                padding-top: 0.2rem;
                margin-top: 0.5rem;

                .inputFields{
                    width: 80%;
                    margin: 0.5rem auto;
                    margin-left: 0.5rem;
                    margin-bottom: 0.5rem;

                    .inputError{
                        font-size: 8px;
                        color: red;
                    }

                    
                    p,label{
                        font-size: 16px ;
                        font-weight: 500;

                    }

                    .split{
                        width: auto;
                        display: flex;
                        align-items: center;
                        margin-top: 0.5rem;
                        .radio{
                            
                            margin: 0.2rem 0;
                            margin-right: 1rem;
                            display: flex;
                            align-items: center;
                            
                            p{
                                color: var(--primary);
                            }
                        }
                        .field{
                            display: flex;
                            flex-direction: column;
                            margin-right: 0.5rem;
                        }
                        .singleField{
                            width: 40%;
                            display: flex;
                            flex-direction: column;
                            margin-right: 0.5rem;
                            p{
                                font-size: 14px;
                                font-weight: 400;
                                color: #777;
                            }
                           
        
                        }
                        label{
                            font-size: 16px;
                            font-weight: 600;
                            color: var(--primary);
                            margin-bottom: 0.5rem;
                            span{
                                color: red;
                            }
                        }
                        input{
                            font-size: 14px;
                            font-weight: 500;
                            color: var(--accent);
                            outline: none;
                            padding-left: 0.2rem;
                            width: 100%;
                            height: 5vh;
                        }
                        input[type="radio"]{
                            width: 1rem;
                            height: 1rem;
                            margin-right: 0.5rem;
                        }

                    }
                    .splitCol{
                        flex-direction: column;
                        align-items: flex-start;
                        .radio{
                            margin-bottom: 0.2rem;
                        }
                    }

                }
            }



            .roomPreview{
                width: auto;
                background: rgba( #999, 0.3);
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-top: 0.5rem;
                
                h4{
                    font-size: 18px;
                    font-weight: 700;

                    margin-bottom: 0.5rem;
                    margin-left: 0.5rem;
                    color: var(--accent);

                    width: 40%;
                    display: flex;
                    justify-content: space-between;
                    background: rgba(#8b7b55, 0.2);
                    padding: 0.3rem 0.5rem;

                    span{
                        color: #8b7b55;
                    }
                }
                h5{
                    font-size: 16px;
                    font-weight: 600;

                    margin-left: 0.5rem;
                    color: var(--primary);

                    width: auto;

                    ion-icon{
                        margin-right: 0;
                        
                        font-size: 14pt;
                        color: #8b7b55;
                        &:nth-of-type(3){
                            font-size: 12pt;

                        }
                    }
                    p{
                        &:last-of-type:after{
                            content: '+';
                            font-size: 12pt;
                            color: #8b7b55;
                        }
                    }
                    span{
                        color: var(--accent);
                        margin: 0 0.2rem;
                    }

                }
                .guestInfo{
                    width: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .inputFields{
                    flex-direction: column;
                    display: flex;
                    width: 50%;
                    margin-left: 0.5rem;
                    margin-top: 0.5rem;

                    label{
                        font-size: 16px;
                        font-weight: 600;
                        color: var(--primary);
                        margin-bottom: 0.5rem;
                        span{
                            color: red;
                        }
                    }
                    input{
                        font-size: 14px;
                        font-weight: 500;
                        color: var(--accent);
                        outline: none;
                        padding-left: 0.2rem;
                        width: 100%;
                        height: 5vh;
                    }

                }

               



            }
            .termsNbtn{
                width: auto;
                height: 4rem;
                background: rgba( #999, 0.3);
                margin-right: 0.5rem;
                padding-bottom: 0.5rem;
                padding: 0.5rem;

                
                display: flex;
                align-items: center;
                justify-content: space-between;


                .terms{
                    display: flex;
                    align-items: center;
                    input{
                        width: 1rem;
                        height: 1rem;
                        margin-right: 0.5rem;
                    }
                    label{
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--accent);
                        a{
                            color: var(--accent);
                        }
                    }
                }
                .confirmBtn{
                    width: fit-content;
                    height: fit-content;

                    .confirm{
                        width: fit-content;
                        height: fit-content;
                        margin: 0.5rem;
                        padding: 0.5rem 1rem;
                        font-size: 16px;
                        font-weight: 600;
                        background: var(--accent);
                        color: #fff;

                        border: none;
                        outline: none;
                        transition: all 0.8s ease-in-out;


                        &:hover{
                            background: var(--primary);
                        }

                    }
                }
            }








        }

    }






}

