::-webkit-scrollbar{
    display: none;
}
:root {
  --primary-new: #8b7b55;
  --accent-new: #4a4a4a;
}

.container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;


    .filter{
        width: 20vw;
        height: fit-content;
        // background: rgba(#8b7b55, 0.5);
        background: rgba(rgb(247, 185, 52), 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;


        margin-top: 2.3rem;


        h4{
            width: 100%;
            font-size: 12pt;
            font-weight: bold;
            color: var(--accent-new);
            padding-left: 0.5rem;
            margin-top: 0.5rem;
            padding-bottom: 0.3rem;
            border-bottom: 1px solid var(--accent-new);


        }

        .inputBox{
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 0.5rem;
            .inputField{
                width: 100%;
                margin: 0.5rem auto;
                label{
                    font-size: 16px;
                    font-weight: 500;
                    color: var(--accent-new);

                }
                input{
                    width: 100%;
                    height: 2rem;
                    background: transparent;
                    outline: none;
                    border: 1px solid transparent;
                    // border-bottom-color: var(--accent-new);
                    padding-left: 0.2rem;
                    padding-bottom: 0.1rem;
                    margin-top: 0.2rem;
                    color: var(--accent-new);
                    
                    background-color: #fff;

                }

                .dropdown{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    div{
                        width: 45%;
                        flex-direction: column;
                        display: flex;

                        select{
                            width: 100%;
                            height: 2rem;
                            background: #fff;
                            outline: none;
                            border: 1px solid transparent;
                            // border-bottom-color: var(--accent-new);
                            padding-left: 0.2rem;
                            padding-bottom: 0.1rem;
                            margin-top: 0.2rem;
                            color: var(--accent-new);
                            option{
                                color: #222;
                            }

                        }
                    }
                    .rooms{
                        width: 100%;
                        
                    }
                }
                button{
                    width: 100%;
                    background: var(--accent-new);
                    border: none;
                    outline: none;
                    padding: 0.5rem 0;
                    font-size: 16px;
                    font-weight: 600;
                    color: #fff;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    margin: 1rem auto;
                    transition: all 0.8s ease-in-out;
                    &:hover{
                        background: invert(rgba(rgb(247, 185, 52), 0.5));
                        color: invert(#fff);
                    }
                }

            }
        }



    }

    .roomsCards{
        width: 70vw;
        display: flex;
        flex-direction: column;
        margin-left: 0.5rem;
        margin-top: 0.5rem;
        h3{
            font-size: 18px;
            color: var(--primary-new);
            width: 100%;
            border-bottom: 1px solid var(--accent-new);
            padding-bottom: 0.5rem;
            margin-bottom: 1rem;
        }

        .rooms{
            width: 100%;
            height: fit-content;
            display: flex;
            align-items: flex-start;
            background: rgba(#999, 0.1);
            padding: 0.3rem 0.1rem;
            margin: 0.3rem auto;
            .roomImg{
                width: 240px;
                height: 180px;
                background-position: center;
                background-size: cover;
                
                margin-right: 0.5rem;
            }
            .details{
                width: calc(100% - 240px);
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                .header{
                    width:100%;
                    height: fit-content;
                    border-color: transparent;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;

                    .title{
                        width: auto;
                        margin-right: auto;
                        h4{
                            font-size: 18pt;
                            font-weight: 800;
                            line-height: 0;
                            color: var(--primary-new);
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

                        }
                    }
                    .rating{
                        display: flex;
                        align-items: center;
                        p{
                            font-size: 14px;
                            font-weight: 600;
                            margin-left: 0.5rem;
                            line-height: 1;
                            span{
                                font-size: 10px;
                            }

                        }
                        .badge{
                            width: fit-content;
                            height: fit-content;
                            padding: 0.5rem;
                            border-radius: 5px;
                            background: var(--primary-new);
                            color: #fff;
                        }
                    }
                }
                .description{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .roomDesc{
                        width: 50%;
                        text-align: left;
                        p{
                            font-size: 14px;
                            font-weight: 400;
                            width: 80%;
                            margin: 0.2rem 0;
                            color: var(--accent-new);
                        }
                        ul{
                            width: 50%;
                            li{
                                list-style: none;
                                display: flex;
                                align-items: center;

                                ion-icon{
                                    font-size:14px;
                                    margin-right: 0.5rem;
                                    color: var(--primary-new);

                                }
                                font-size: 14px;
                                color: var(--accent-new);
                                .not{
                                    color: #999;
                                }
                            }
                        }
                    }
                    .priceDesc{
                        text-align: right;
                        width: 50%;
                        margin-right: 0.2rem;
                        .dayPeople{
                            p{
                                font-size: 12px;
                                color: #666;

                            }
                        }
                        .price{
                            display: flex;
                            flex-direction: column;
                            
                            .badge{
                                font-size: 10px;
                                color: red;
        
                            }
                            h6{
                                text-decoration: line-through;
                                color: #999;
                            }
                            h4{
                                color: #222;
                                font-size: 18px;
                                font-weight: 600;
                            }
                            p{
                                font-size: 14px;
                                font-weight: 600;
                                color: #777;
                            }
                        }
                        .book-btn{
                            width: auto;
                            margin-top: 0.1rem;
                            button{
                                width: fit-content;
                                padding: 0.5rem 0.8rem;
                                background: var(--primary-new);
                                color: #fff;
                                font-size: 16px;
                                font-weight: 600;
                                border: none;
                                outline: none;
                                transition: 0.5s;
                                cursor: pointer;
                                &:hover{
                                    background: var(--accent-new);
                                }

                            }
                        }


                    }
                }
            }
        }


    }






}


.detailsTable{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    .selectedRooms{
        width: 90%;
        margin: auto;
        thead{
            height: auto;
            tr{
                background: var(--primary-new);
                color: #fff;
                font-size: 16px;
                text-align: center;
                height: fit-content;
                th{
                    height: 2rem;

                }

            }
        }
        tbody{
            tr{
                td{
                    font-size: 16px;
                    color: var(--accent-new);
                    font-weight: 500;

                    &:nth-child(3), &:nth-child(6), &:last-child{
                        width: 15rem;
                        text-align: center;
                    }
                    &:nth-child(4){
                        width: 15rem;
                        text-align: right;
                        padding-right: 0.2rem;
                        font-weight: bold;
                        padding-right: 0.3rem;
                        span{
                            color: red;
                            margin-right: 0.3rem;
                            text-decoration: line-through;
                            font-size: 12px;
                        }
                    }



                    h4{
                        font-size: 18px;
                        margin-left: 0.5rem;

                    }
                    p{
                        font-size: 14px;
                        margin-left: 0.5rem;
                    }
                    .message{
                        color: #999;
                    }
                    .totalPrice{
                        color: var(--primary-new);
                        text-align: right;
                        span{
                            color: var(--accent-new);
                        }
                    }

                    select{
                        width: 80%;
                        margin: auto;
                        border: none;
                        outline: none;

                    }
                    button{
                        width: fit-content;
                        height: fit-content;
                        border: none;
                        outline: none;
                        border-radius: 2px;

                    }
                    .closeBtn{
                        font-size: 16pt;
                        padding: 0.3rem 1rem;
                        text-align: center;
                        color: var(--accent-new);
                        background: transparent;
                        transition: all 0.8s ease-in-out;

                        &:hover{
                            background: var(--primary-new);
                            color: red;
                        }

                    }
                    .bookBtn{
                        font-size: 14pt;
                        font-weight: 600;
                        padding: 0.5rem 1rem;
                        text-align: center;
                        color: #fff;
                        background: var(--accent-new);
                        transition: all 0.8s ease-in-out;
                        text-transform: capitalize;

                        &:hover{
                            background: var(--primary-new);
                        }
                    }
                }
                &:last-child{
                    border-top: 1px solid #999;
                    td{
                        padding-top: 0.3rem;
                    }
                }
            }
        }
    }
}