@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Nunito+Sans&family=Poppins&display=swap");
.menuDisapper {
  -webkit-animation: menu-disappear 0.5s ease-out backwards;
          animation: menu-disappear 0.5s ease-out backwards;
}

@-webkit-keyframes menu-disappear {
  from {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
}

@keyframes menu-disappear {
  from {
    opacity: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(-30rem);
            transform: translateX(-30rem);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  color: #333;
  padding: 0 3%;
  position: fixed;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0.5px 0 10px 0.5px #4A4A4A;
          box-shadow: 0.5px 0 10px 0.5px #4A4A4A;
  -webkit-animation: menu-appear 0.5s ease-in-out forwards;
          animation: menu-appear 0.5s ease-in-out forwards;
}

@-webkit-keyframes menu-appear {
  from {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

@keyframes menu-appear {
  from {
    opacity: 0;
    -webkit-transform: translateX(-3rem);
            transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0rem);
            transform: translateX(0rem);
  }
}

.menu .menuhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .menuhead .closebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0;
  font-size: 40px;
}

.menu .menuhead .menusearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.menu .menuhead .menusearch:hover {
  border: 1px solid #4A4A4A;
}

.menu .menuhead .menusearch .search {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: transparent;
  color: #333;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.menu .menuhead .menusearch .search:active {
  background: transparent;
}

.menu .menuhead .menusearch .search::-webkit-input-placeholder {
  color: #333;
  background: transparent;
}

.menu .menuhead .menusearch .search:-ms-input-placeholder {
  color: #333;
  background: transparent;
}

.menu .menuhead .menusearch .search::-ms-input-placeholder {
  color: #333;
  background: transparent;
}

.menu .menuhead .menusearch .search::placeholder {
  color: #333;
  background: transparent;
}

.menu .menuhead .menusearch ion-icon {
  font-size: 20px;
  margin-right: 10px;
}

.menu .menubody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.menu .menubody .menulinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 2% 0;
  color: #333;
}

.menu .menubody .menulinks .menuitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.menu .menubody .menulinks .menuitem:hover p {
  color: #8B7B55;
}

.menu .menubody .menulinks .menuitem:hover .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .menubody .menulinks .menuitem:hover .dropdown p {
  color: #333;
}

.menu .menubody .menulinks .menuitem:hover .dropdown p:hover {
  color: #8B7B55;
}

.menu .menubody .menulinks .menuitem:hover ion-icon {
  display: none;
}

.menu .menubody .menulinks .menuitem .itemtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menubody .menulinks .menuitem .dropdown {
  display: none;
  -webkit-transition: ease-in-out;
  transition: ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 5px;
  line-height: 30px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding: 0 20px;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

@-webkit-keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  48.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  61% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  86% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  98.5% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  48.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  61% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  86% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  98.5% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes go {
  0% {
  }
  100% {
    left: -300%;
  }
}

@keyframes go {
  0% {
  }
  100% {
    left: -300%;
  }
}

@-webkit-keyframes back {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes back {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.carousel {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
  -webkit-box-shadow: inset 0 50px 90% rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 50px 90% rgba(0, 0, 0, 0.5);
}

.carousel .caption {
  width: 95%;
  height: 50%;
  margin: auto;
  padding: 15% 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #fff;
}

.carousel .caption h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.carousel .caption p {
  font-size: 20px;
  font-weight: 300;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.carousel .caption ion-icon {
  font-size: 80px;
  --ionicon-stroke-width: 5px;
  margin: 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.carousel .caption ion-icon:hover {
  color: #8B7B55;
}

.carousel .paineis {
  width: 500%;
  overflow: hidden;
  height: 100%;
  -webkit-animation: carousel 30s infinite;
          animation: carousel 30s infinite;
  position: relative;
}

.carousel article {
  float: left;
  width: 20%;
  background: #333;
}

.carousel article img {
  height: 100%;
  width: 100%;
}

@media (max-width: 700px) {
  .banner .carousel {
    height: 30%;
  }
  .banner .caption {
    width: 80%;
    height: 30%;
    margin: 20% 10%;
  }
  .banner .caption h1 {
    font-size: 20px;
    font-weight: 100;
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: .2rem;
  }
  .banner .caption p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Libre Franklin", sans-serif;
  }
}

.roomCarousel {
  width: 100%;
  min-height: 100vh;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roomCarousel .container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vmin;
  overflow: hidden;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
}

.roomCarousel .container .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: 90vmin;
  position: relative;
}

.roomCarousel .container .card .card__head {
  color: black;
  background: #8B7B55;
  padding: 0.5em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
}

.roomCarousel .container .card .card__head p {
  font-size: 19px;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
}

.roomCarousel .container .card:hover {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.roomCarousel .container .card:hover .image {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.roomCarousel .container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: 500;
  font-family: "Libre Franklin", sans-serif;
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
}

.roomCarousel .container .card .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.roomCarousel .container .card:not(:nth-child(5)) {
  margin-right: 1em;
}

.caption {
  width: 80%;
  margin: 20% 10%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  overflow: hidden;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
  background: transparent;
}

.video .video-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 10px 0;
}

.video .video-item iframe {
  width: 1280px;
  height: 720px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.8);
}

.bookingContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
  background: transparent;
  z-index: 2;
  margin-top: -39px;
  margin-bottom: 50px;
}

.bookingContainer .bookingHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  text-align: center;
  background: #fff;
}

.bookingContainer .bookingHeader .bookingButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px none #555;
  background: rgba(74, 74, 74, 0.2);
}

.bookingContainer .bookingHeader .bookingButton p {
  font-size: 14px;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
  text-transform: uppercase;
  margin: 2%;
  color: #A69571;
}

.bookingContainer .bookingHeader .bookingButton:hover, .bookingContainer .bookingHeader .bookingButton:focus, .bookingContainer .bookingHeader .bookingButton:focus-within {
  background: #fff;
}

.bookingContainer .bookingHeader .bookingButton:hover p, .bookingContainer .bookingHeader .bookingButton:focus p, .bookingContainer .bookingHeader .bookingButton:focus-within p {
  color: #8B7B55;
}

.bookingContainer .bookingHeader .activeBtn {
  background: #fff;
}

.bookingContainer .bookingHeader .activeBtn p {
  color: #8B7B55;
}

.bookingContainer .bookingBody {
  background: #fff;
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bookingContainer .bookingBody .inputField {
  width: 40%;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border: 8px solid #fff;
}

.bookingContainer .bookingBody .inputField:first-child {
  width: 30%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 1rem;
}

.bookingContainer .bookingBody .inputField:first-child ion-icon {
  width: 30px;
  height: 30px;
  color: #8B7B55;
  margin-right: 0.2rem;
}

.bookingContainer .bookingBody .inputField:first-child input {
  width: 100%;
  height: 2rem;
  outline: none;
  border: none;
  padding: 0 0.2rem;
  background: transparent;
}

.bookingContainer .bookingBody .inputField:nth-child(2) {
  width: 50%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bookingContainer .bookingBody .inputField:nth-child(2) ion-icon {
  width: 30px;
  height: 30px;
  color: #8B7B55;
  margin-right: 0.2rem;
}

.bookingContainer .bookingBody .inputField:nth-child(2) input {
  width: 35%;
  height: 2rem;
  outline: none;
  border: none;
  padding: 0 0.2rem;
  background: transparent;
  font-size: 16px;
  font-weight: 500;
}

.bookingContainer .bookingBody .inputField:last-child {
  width: 20%;
  padding: 0;
  margin-right: 1rem;
}

.bookingContainer .bookingBody .inputField:last-child button {
  width: 100%;
  height: 100%;
  background: #8B7B55;
  outline: none;
  border: none;
  color: #fff;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  font-size: 18px;
  font-weight: 600;
}

.bookingContainer .bookingBody .inputField:last-child button:hover {
  background: #4A4A4A;
}

.flatpickr-weekdays, .flatpickr-weekdays .flatpickr-weekdaycontainer, span.flatpickr-weekday,
.flatpickr-months .flatpickr-month {
  background: #8B7B55 !important;
  color: #fff !important;
}

.flatpickr-current-month,
.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: #8B7B55 !important;
}

.flatpickr-day.startRange, .flatpickr-day.endRange {
  background: #8B7B55 !important;
  border-color: #8B7B55 !important;
}

.text-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #fff;
  width: 70%;
  margin: 3% 0;
}

.text-carousel .text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
}

.text-carousel .text-title p {
  font-size: 22px;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  color: #333;
}

.text-carousel .text-body {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.text-carousel .text-body h4 {
  font-size: 18px;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  color: #333;
  margin-bottom: 3%;
}

.text-carousel .text-body h6 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
  color: rgba(51, 51, 51, 0.9);
  margin-bottom: 3%;
}

.slider {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.slider .slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  -webkit-transition: 500ms ease-in;
  transition: 500ms ease-in;
  overflow: hidden;
}

.slider .slider-buttons {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 5%;
  height: 8vh;
  background: none;
  border: none;
  outline: none;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}

.slider .slider-buttons ion-icon {
  font-size: 2rem;
  color: #8B7B55;
}

.slider .slider-buttons:hover {
  background: rgba(0, 0, 0, 0.3);
}

.slider #goLeft {
  left: 0;
}

.slider #goRight {
  right: 0;
}

.AccomodationSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AccomodationSlider .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.AccomodationSlider .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.AccomodationSlider .row .col img {
  width: 60%;
}

.AccomodationSlider .row .left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.AccomodationSlider .row .right {
  width: 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 15%;
  background: #fff;
}

.AccomodationSlider .row .right .details {
  width: 90%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.AccomodationSlider .row .right .details p {
  font-size: 22px;
  font-weight: 600;
  font-family: "Nunito Sans", sans-serif;
  color: #333;
}

.AccomodationSlider .row .right .details span {
  font-size: 14px;
  font-weight: 400;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

.AccomodationSlider .row .right .details .underline {
  width: 100px;
  margin-bottom: 5%;
  border-bottom: 2px solid #8B7B55;
}

.AccomodationSlider .row .right .details .btn-group {
  width: 80%;
  margin: 2% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.AccomodationSlider .row .right .details .btn-group button {
  margin: 2% 0;
  margin-left: 10%;
  padding: 3% 5%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  font-weight: 500;
  font-family: "Nunito Sans", sans-serif;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.AccomodationSlider .row .right .details .btn-group button:hover {
  background: #222;
  color: #fff;
}

.AccomodationSlider .row .right .controll-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.AccomodationSlider .row .right .controll-btn button {
  width: 60px;
  height: 50px;
  border: none;
  background: transparent;
  z-index: 20;
}

.AccomodationSlider .row .right .controll-btn button ion-icon {
  font-size: 26px;
  color: #8B7B55;
  background: transparent;
  z-index: 19;
}

.AccomodationSlider .row .right .controll-btn button:hover {
  background: rgba(34, 34, 34, 0.2);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --primary-new: #8b7b55;
  --accent-new: #4a4a4a;
}

.container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .filter {
  width: 20vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: rgba(247, 185, 52, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 2.3rem;
}

.container .filter h4 {
  width: 100%;
  font-size: 12pt;
  font-weight: bold;
  color: var(--accent-new);
  padding-left: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--accent-new);
}

.container .filter .inputBox {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.container .filter .inputBox .inputField {
  width: 100%;
  margin: 0.5rem auto;
}

.container .filter .inputBox .inputField label {
  font-size: 16px;
  font-weight: 500;
  color: var(--accent-new);
}

.container .filter .inputBox .inputField input {
  width: 100%;
  height: 2rem;
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  padding-left: 0.2rem;
  padding-bottom: 0.1rem;
  margin-top: 0.2rem;
  color: var(--accent-new);
  background-color: #fff;
}

.container .filter .inputBox .inputField .dropdown {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .filter .inputBox .inputField .dropdown div {
  width: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .filter .inputBox .inputField .dropdown div select {
  width: 100%;
  height: 2rem;
  background: #fff;
  outline: none;
  border: 1px solid transparent;
  padding-left: 0.2rem;
  padding-bottom: 0.1rem;
  margin-top: 0.2rem;
  color: var(--accent-new);
}

.container .filter .inputBox .inputField .dropdown div select option {
  color: #222;
}

.container .filter .inputBox .inputField .dropdown .rooms {
  width: 100%;
}

.container .filter .inputBox .inputField button {
  width: 100%;
  background: var(--accent-new);
  border: none;
  outline: none;
  padding: 0.5rem 0;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 1rem auto;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.container .filter .inputBox .inputField button:hover {
  background: rgba(8, 70, 203, 0.5);
  color: black;
}

.container .roomsCards {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.container .roomsCards h3 {
  font-size: 18px;
  color: var(--primary-new);
  width: 100%;
  border-bottom: 1px solid var(--accent-new);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.container .roomsCards .rooms {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: rgba(153, 153, 153, 0.1);
  padding: 0.3rem 0.1rem;
  margin: 0.3rem auto;
}

.container .roomsCards .rooms .roomImg {
  width: 240px;
  height: 180px;
  background-position: center;
  background-size: cover;
  margin-right: 0.5rem;
}

.container .roomsCards .rooms .details {
  width: calc(100% - 240px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .roomsCards .rooms .details .header {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .roomsCards .rooms .details .header .title {
  width: auto;
  margin-right: auto;
}

.container .roomsCards .rooms .details .header .title h4 {
  font-size: 18pt;
  font-weight: 800;
  line-height: 0;
  color: var(--primary-new);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .roomsCards .rooms .details .header .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .roomsCards .rooms .details .header .rating p {
  font-size: 14px;
  font-weight: 600;
  margin-left: 0.5rem;
  line-height: 1;
}

.container .roomsCards .rooms .details .header .rating p span {
  font-size: 10px;
}

.container .roomsCards .rooms .details .header .rating .badge {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  border-radius: 5px;
  background: var(--primary-new);
  color: #fff;
}

.container .roomsCards .rooms .details .description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .roomsCards .rooms .details .description .roomDesc {
  width: 50%;
  text-align: left;
}

.container .roomsCards .rooms .details .description .roomDesc p {
  font-size: 14px;
  font-weight: 400;
  width: 80%;
  margin: 0.2rem 0;
  color: var(--accent-new);
}

.container .roomsCards .rooms .details .description .roomDesc ul {
  width: 50%;
}

.container .roomsCards .rooms .details .description .roomDesc ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: var(--accent-new);
}

.container .roomsCards .rooms .details .description .roomDesc ul li ion-icon {
  font-size: 14px;
  margin-right: 0.5rem;
  color: var(--primary-new);
}

.container .roomsCards .rooms .details .description .roomDesc ul li .not {
  color: #999;
}

.container .roomsCards .rooms .details .description .priceDesc {
  text-align: right;
  width: 50%;
  margin-right: 0.2rem;
}

.container .roomsCards .rooms .details .description .priceDesc .dayPeople p {
  font-size: 12px;
  color: #666;
}

.container .roomsCards .rooms .details .description .priceDesc .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .roomsCards .rooms .details .description .priceDesc .price .badge {
  font-size: 10px;
  color: red;
}

.container .roomsCards .rooms .details .description .priceDesc .price h6 {
  text-decoration: line-through;
  color: #999;
}

.container .roomsCards .rooms .details .description .priceDesc .price h4 {
  color: #222;
  font-size: 18px;
  font-weight: 600;
}

.container .roomsCards .rooms .details .description .priceDesc .price p {
  font-size: 14px;
  font-weight: 600;
  color: #777;
}

.container .roomsCards .rooms .details .description .priceDesc .book-btn {
  width: auto;
  margin-top: 0.1rem;
}

.container .roomsCards .rooms .details .description .priceDesc .book-btn button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0.8rem;
  background: var(--primary-new);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.container .roomsCards .rooms .details .description .priceDesc .book-btn button:hover {
  background: var(--accent-new);
}

.detailsTable {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.detailsTable .selectedRooms {
  width: 90%;
  margin: auto;
}

.detailsTable .selectedRooms thead {
  height: auto;
}

.detailsTable .selectedRooms thead tr {
  background: var(--primary-new);
  color: #fff;
  font-size: 16px;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.detailsTable .selectedRooms thead tr th {
  height: 2rem;
}

.detailsTable .selectedRooms tbody tr td {
  font-size: 16px;
  color: var(--accent-new);
  font-weight: 500;
}

.detailsTable .selectedRooms tbody tr td:nth-child(3), .detailsTable .selectedRooms tbody tr td:nth-child(6), .detailsTable .selectedRooms tbody tr td:last-child {
  width: 15rem;
  text-align: center;
}

.detailsTable .selectedRooms tbody tr td:nth-child(4) {
  width: 15rem;
  text-align: right;
  padding-right: 0.2rem;
  font-weight: bold;
  padding-right: 0.3rem;
}

.detailsTable .selectedRooms tbody tr td:nth-child(4) span {
  color: red;
  margin-right: 0.3rem;
  text-decoration: line-through;
  font-size: 12px;
}

.detailsTable .selectedRooms tbody tr td h4 {
  font-size: 18px;
  margin-left: 0.5rem;
}

.detailsTable .selectedRooms tbody tr td p {
  font-size: 14px;
  margin-left: 0.5rem;
}

.detailsTable .selectedRooms tbody tr td .message {
  color: #999;
}

.detailsTable .selectedRooms tbody tr td .totalPrice {
  color: var(--primary-new);
  text-align: right;
}

.detailsTable .selectedRooms tbody tr td .totalPrice span {
  color: var(--accent-new);
}

.detailsTable .selectedRooms tbody tr td select {
  width: 80%;
  margin: auto;
  border: none;
  outline: none;
}

.detailsTable .selectedRooms tbody tr td button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: none;
  outline: none;
  border-radius: 2px;
}

.detailsTable .selectedRooms tbody tr td .closeBtn {
  font-size: 16pt;
  padding: 0.3rem 1rem;
  text-align: center;
  color: var(--accent-new);
  background: transparent;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.detailsTable .selectedRooms tbody tr td .closeBtn:hover {
  background: var(--primary-new);
  color: red;
}

.detailsTable .selectedRooms tbody tr td .bookBtn {
  font-size: 14pt;
  font-weight: 600;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #fff;
  background: var(--accent-new);
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
  text-transform: capitalize;
}

.detailsTable .selectedRooms tbody tr td .bookBtn:hover {
  background: var(--primary-new);
}

.detailsTable .selectedRooms tbody tr:last-child {
  border-top: 1px solid #999;
}

.detailsTable .selectedRooms tbody tr:last-child td {
  padding-top: 0.3rem;
}

.err_page {
  width: 100%;
  height: 80%;
  margin: 4% auto;
  background: #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.err_page .err_page_left {
  width: 100%;
}

.err_page .err_page_left img {
  width: 600px;
  height: 500px;
}

.err_page .err_page_right {
  width: 100%;
}

.err_page .err_page_right h1 {
  font-size: 150px;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  color: #8B7B55;
}

.err_page .err_page_right h4 {
  font-size: 22px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  color: #4A4A4A;
}

.err_page .err_page_right p {
  font-size: 18px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  color: #737373;
}

.err_page .err_page_right .err_btn {
  margin-top: 2%;
  background: #fff;
  border: 2px solid #8B7B55;
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 13pt;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
}

.err_page .err_page_right .err_btn:hover {
  background: #222;
  -webkit-box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
}

@media screen and (max-width: 800px) {
  .err_page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .err_page .err_page_left img {
    width: 250px;
    height: auto;
  }
  .err_page .err_page_right h4 {
    margin: 0;
  }
}

:root {
  --primary: #8b7b55;
  --accent: #4a4a4a;
}

.container {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .roomDetails {
  width: 25vw;
  margin-left: 1rem;
}

.container .roomDetails h2 {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--primary);
  color: var(--primary);
}

.container .roomDetails .bookDetails {
  width: 90%;
  margin: auto;
}

.container .roomDetails .bookDetails h5 {
  width: 100%;
  margin: 0.5rem auto;
  font-size: 16px;
  font-weight: 600;
  color: #8b7b55;
}

.container .roomDetails .bookDetails .dates {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0.5rem;
}

.container .roomDetails .bookDetails .dates .check {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container .roomDetails .bookDetails .dates .check h6 {
  color: #777;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.container .roomDetails .bookDetails .dates .check h5 {
  margin: 0.2rem auto;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
}

.container .roomDetails .bookDetails .dates .check p {
  font-size: 14px;
  font-weight: 600;
  color: #999;
}

.container .roomDetails .bookDetails .totalDays {
  width: 100%;
  margin-top: 0.5rem;
}

.container .roomDetails .bookDetails .totalDays h6 {
  font-size: 14px;
  font-weight: 500;
  color: #777;
}

.container .roomDetails .bookDetails .totalDays h5 {
  margin-top: 0.2rem;
  margin-left: 1rem;
}

.container .roomDetails .bookDetails .totalDays a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: var(--accent);
}

.container .roomDetails .bookDetails .selectedRooms {
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid rgba(119, 119, 119, 0.2);
  border-bottom: 1px solid rgba(119, 119, 119, 0.2);
}

.container .roomDetails .bookDetails .selectedRooms h4 {
  width: 90%;
  font-size: 16px;
  font-weight: 600;
  margin: 0.5rem auto;
  margin-left: 0;
}

.container .roomDetails .bookDetails .selectedRooms .roomsCard {
  width: 100%;
  margin-left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .roomDetails .bookDetails .selectedRooms .roomsCard h5 {
  margin: 0.2rem auto;
}

.container .roomDetails .bookDetails .selectedRooms a {
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  color: var(--accent);
}

.container .roomDetails .bookDetails .pricing {
  width: 100%;
  margin: 0.5rem auto;
  border: 1px solid rgba(119, 119, 119, 0.3);
}

.container .roomDetails .bookDetails .pricing .heading {
  width: 95%;
  margin: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .roomDetails .bookDetails .pricing .heading h4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  color: var(--accent);
  margin-bottom: 0.3rem;
  padding-top: 0.2rem;
}

.container .roomDetails .bookDetails .pricing .heading p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  color: var(--accent);
  margin-bottom: 0.5rem;
}

.container .roomDetails .bookDetails .pricing .highlight {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
  background-color: rgba(153, 153, 153, 0.3);
}

.container .bookings {
  width: 60vw;
  margin-top: 1rem;
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .bookings .boxes {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid rgba(153, 153, 153, 0.3);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.container .bookings .boxes h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--accent);
}

.container .bookings .boxes p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: var(--accent);
}

.container .bookings .boxes p ion-icon {
  color: red;
  margin-right: 0.5rem;
}

.container .bookings .boxes h5 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: var(--accent);
  padding: 0.5rem 0;
}

.container .bookings .boxes h5 ion-icon {
  color: var(--accent);
  margin-right: 0.5rem;
}

.container .bookings .boxes h5 a {
  text-decoration: none;
  color: blue;
}

.container .bookings .boxes .badge {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
  background: rgba(153, 153, 153, 0.3);
  color: var(--accent);
}

.container .bookings .boxes .badge span {
  color: red;
}

.container .bookings .boxes .bookingForm {
  width: auto;
  background: rgba(153, 153, 153, 0.3);
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.2rem;
  margin-top: 0.5rem;
}

.container .bookings .boxes .bookingForm .inputFields {
  width: 80%;
  margin: 0.5rem auto;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.container .bookings .boxes .bookingForm .inputFields .inputError {
  font-size: 8px;
  color: red;
}

.container .bookings .boxes .bookingForm .inputFields p, .container .bookings .boxes .bookingForm .inputFields label {
  font-size: 16px;
  font-weight: 500;
}

.container .bookings .boxes .bookingForm .inputFields .split {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5rem;
}

.container .bookings .boxes .bookingForm .inputFields .split .radio {
  margin: 0.2rem 0;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .bookings .boxes .bookingForm .inputFields .split .radio p {
  color: var(--primary);
}

.container .bookings .boxes .bookingForm .inputFields .split .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.5rem;
}

.container .bookings .boxes .bookingForm .inputFields .split .singleField {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 0.5rem;
}

.container .bookings .boxes .bookingForm .inputFields .split .singleField p {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}

.container .bookings .boxes .bookingForm .inputFields .split label {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.container .bookings .boxes .bookingForm .inputFields .split label span {
  color: red;
}

.container .bookings .boxes .bookingForm .inputFields .split input {
  font-size: 14px;
  font-weight: 500;
  color: var(--accent);
  outline: none;
  padding-left: 0.2rem;
  width: 100%;
  height: 5vh;
}

.container .bookings .boxes .bookingForm .inputFields .split input[type="radio"] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.container .bookings .boxes .bookingForm .inputFields .splitCol {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container .bookings .boxes .bookingForm .inputFields .splitCol .radio {
  margin-bottom: 0.2rem;
}

.container .bookings .boxes .roomPreview {
  width: auto;
  background: rgba(153, 153, 153, 0.3);
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.container .bookings .boxes .roomPreview h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  color: var(--accent);
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(139, 123, 85, 0.2);
  padding: 0.3rem 0.5rem;
}

.container .bookings .boxes .roomPreview h4 span {
  color: #8b7b55;
}

.container .bookings .boxes .roomPreview h5 {
  font-size: 16px;
  font-weight: 600;
  margin-left: 0.5rem;
  color: var(--primary);
  width: auto;
}

.container .bookings .boxes .roomPreview h5 ion-icon {
  margin-right: 0;
  font-size: 14pt;
  color: #8b7b55;
}

.container .bookings .boxes .roomPreview h5 ion-icon:nth-of-type(3) {
  font-size: 12pt;
}

.container .bookings .boxes .roomPreview h5 p:last-of-type:after {
  content: '+';
  font-size: 12pt;
  color: #8b7b55;
}

.container .bookings .boxes .roomPreview h5 span {
  color: var(--accent);
  margin: 0 0.2rem;
}

.container .bookings .boxes .roomPreview .guestInfo {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .bookings .boxes .roomPreview .inputFields {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.container .bookings .boxes .roomPreview .inputFields label {
  font-size: 16px;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.container .bookings .boxes .roomPreview .inputFields label span {
  color: red;
}

.container .bookings .boxes .roomPreview .inputFields input {
  font-size: 14px;
  font-weight: 500;
  color: var(--accent);
  outline: none;
  padding-left: 0.2rem;
  width: 100%;
  height: 5vh;
}

.container .bookings .boxes .termsNbtn {
  width: auto;
  height: 4rem;
  background: rgba(153, 153, 153, 0.3);
  margin-right: 0.5rem;
  padding-bottom: 0.5rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .bookings .boxes .termsNbtn .terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .bookings .boxes .termsNbtn .terms input {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.container .bookings .boxes .termsNbtn .terms label {
  font-size: 16px;
  font-weight: 500;
  color: var(--accent);
}

.container .bookings .boxes .termsNbtn .terms label a {
  color: var(--accent);
}

.container .bookings .boxes .termsNbtn .confirmBtn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.container .bookings .boxes .termsNbtn .confirmBtn .confirm {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 16px;
  font-weight: 600;
  background: var(--accent);
  color: #fff;
  border: none;
  outline: none;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.container .bookings .boxes .termsNbtn .confirmBtn .confirm:hover {
  background: var(--primary);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
}

body {
  width: 100%;
}

.ant-modal {
  width: 100% !important;
  height: 100vh !important;
}

.ant-modal .ant-modal-content {
  width: 100% !important;
  margin: 0 !important;
  height: 100vh !important;
  padding: 0 !important;
}

.ant-modal .ant-modal-content .ant-modal-footer {
  display: none !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #BCBCBC;
  border-radius: 50px;
}

.scroll {
  background: white;
  -webkit-box-shadow: 0 1px 30px 0.1px rgba(34, 34, 34, 0.3);
          box-shadow: 0 1px 30px 0.1px rgba(34, 34, 34, 0.3);
}

.scroll .col .incol ion-icon {
  color: #333;
}

.scroll .col .navlink {
  color: #333;
}

.scroll .col .navlink .links p {
  color: #333;
}

.navrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 15vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: hidden;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navrow .col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.navrow .col .incol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10%;
  height: 100%;
}

.navrow .col .incol ion-icon {
  font-size: 25px;
  padding-right: 20px;
}

.navrow .col .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navrow .col .logo img {
  width: 150px;
  height: 50px;
}

.navrow .col .navlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-right: 10%;
}

.navrow .col .navlink .links {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  letter-spacing: 2px;
}

.navrow .col .navlink .links button {
  background: transparent;
  border: none;
  width: 80px;
  color: #fff;
}

.navrow .col .navlink .links button:hover {
  background: transparent;
  border: none;
  width: 80px;
}

.navrow .col .navlink .links p {
  font-size: 12px;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
  margin-left: 30px;
  padding-left: 8px;
  text-decoration: none;
  cursor: pointer;
}

.navrow .col .navlink .links p:hover {
  text-decoration: underline;
}

.navrow .col .navlink .links .navbtn {
  font-size: 12px;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
  width: 100%;
  margin: 0 30px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 2px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.navrow .col .navlink .links .navbtn:hover {
  color: #fff;
  background: #555;
  text-decoration: none;
}

.homeBody {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 150px;
  margin-top: 10px;
  overflow: hidden;
}

.footer .footerhead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  height: 10px;
  margin-bottom: 5px;
}

.footer .footerhead p {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #333;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  cursor: pointer;
}

.footer .footerhead p:hover {
  color: #8B7B55;
}

.footer .footericon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin-top: 5px;
}

.footer .footericon ion-icon {
  font-size: 30px;
  color: #8B7B55;
  cursor: pointer;
  border: 1px solid #8B7B55;
  border-radius: 50px;
  padding: 5px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer .footericon ion-icon:hover {
  color: #333;
}

.footer .footercontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer .footercontent .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin: 5px 0;
}

.footer .footercontent .contentitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.footer .footercontent .contentitem p {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer .footercontent .contentitem p:hover {
  color: #8B7B55;
}
/*# sourceMappingURL=main.css.map */