@mixin fontprop($size,$weight,$family){
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
  }

.show-btn{
    @include fontprop(1.5rem,800,$font4);
    letter-spacing: 0.5rem;
    text-align: center;
    display: inline;
    color: color(accent);
    border: 1px solid transparent;
    padding: 10px 20px;
    top: 50px;
    position: relative;
    &:hover{
        border: 1px solid color(border1);
        background: color(shades3);
        color: color(font2);
        transition: 0.8s;
    }

}





@media (max-width:700px) and (max-width:900px) {
  .show-btn{
    @include fontprop(1rem,400,$font4);
    letter-spacing: 0.2rem;
    top: 10%;
  }
}