@mixin fontprop($size,$weight,$family){
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
}

.banner{
  width: 100%;
  overflow: hidden;
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
  /* daqui: https://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/ */
}
@keyframes go{
  0%    {  }
  100%    { left:-300%; }
}
@keyframes back{
  0%    { left:0; }
  100%  { left:100%; }
}

.carousel{
   width:100%; 
   overflow:hidden; 
   height:100vh;
   z-index: 1;

   .caption{

    width: 80%;
    height: 50%;
    margin: 20% 10%;
    text-align: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: color(font2);

    
    h1{
      @include fontprop(5rem,200,$font4);
      color: color(primary);
      letter-spacing: 1rem
    }
    p{
      @include fontprop(2rem,300,$font2);
      color: color(font3);
    }

  }

  .paineis{
    width:500% /* article w * 5 */; 
    overflow:hidden;  
    height:100%;  
    animation:carousel 30s infinite; 
    position:relative;
    
  }
  article{
    float:left; 
    width: 20%; 
    background: color(shades5);
    
    img{
      height:100%; 
      width:100%;
      opacity: 0.5;
    }
  }
}

@media (max-width:700px){
  .banner{
    .carousel{
      height: 30%;
    }
    .caption{
      width: 80%;
      height: 30%;
      margin: 20% 10%;
      h1{
        @include fontprop(2.5rem,100,$font4);
        letter-spacing: .2rem
      }
      p{
        @include fontprop(1rem,300,$font2);
      }
  
    }
  }
  
}