
$color: (
    primary: #F3E297,
    accent: #EAD46F ,
    accent1: #d3b772,
    shadow: #F8ECB8,
    btn1: #767676,
    shades1:#707477,
    shades2:#888888,
    shades3: #4d3d3d,
    shades4:#333333,
    shades5:#000000,
    

    font1: #000000,
    font2: #FFFFFF,
    font3: #F8ECB8,
    font4: #767676,
    border1: #cccccc,
    border2: #242b2e,
    bg: #FFFFFF,
  );

@function color($colorName) {
  @return map-get($color, $colorName);
}