@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Prompt:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

$font1: 'Prompt', sans-serif;
$font2: 'Josefin Sans', sans-serif;
$font3: 'Roboto', sans-serif;
$font4: 'Bebas Neue', cursive;
$headings: 'Asap', sans-serif;
