@mixin fontprop($size,$weight,$family){
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 8vh;
    width: 100%;
    padding: 2% 3%;
    z-index: 10;
    background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8));
    border-bottom: 2px solid color(shades4);


    img{
        width: 150px;
        cursor: pointer;
    }
    .navlinks{
        flex: 1;
        text-align: right;
        ul li{
            display: inline-block;
            padding: 10px 15px;
            position: relative;
            a{
                @include fontprop(18px,800 ,$font2 );
                text-transform: uppercase;
                color: color(shades3);
                cursor: pointer;
            }
            &::after{
                content: '';
                width: 0;
                height: 2px;
                background: color(shades4);
                display: block;
                margin: auto;
                transition: 0.8s;
            }
            &:hover::after{
                width: 100%;
            }
        }
    
    }
    
    .fa{
        display: none;
    }
}

@media (max-width:700px) {
   .navigation{
      .navlinks{
        position: fixed;
        background: color(shades3);
        height: 100vh;
        width: 200px;
        right: -200px;
        top: 0;
        text-align: left;
        z-index: 5;
        transition: 0.8s;
        ul li{
            display: block;
            a{
                color: color(accent);
            }
            
        }
        .fa-times{
            text-align: right;
            color: color(primary);
        }
    } 
    .fa{
        display: block;
        margin: 10px;
        color: color(shades3);
        font-size: 22px;
        cursor: pointer;

    }
   }
}


