.roomCarousel {
    margin: auto;
    width: 100%;
    min-height: 80vh;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        // margin: 10vmin 5vmin;
        margin-left: 5vmin;
        margin-right: 5vmin;
        margin-top: 10vmin;
        margin-bottom: 5vmin;
        overflow: hidden;
        transform: skew(5deg);
      
        .card {
          flex: 1;
          transition: all 1s ease-in-out;
          height: 70vmin;
          position: relative;
          .card__head {
            color: black;
            background: color(primary);
            padding: 0.5em;
            transform: rotate(-90deg);
            transform-origin: 0% 0%;
            transition: all 0.5s ease-in-out;
            min-width: 100%;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            @include fontprop(1rem,800,$font1);
            white-space: nowrap;
          }
      
          &:hover {
            flex-grow: 10;
            img {
              filter: grayscale(0);
            }
            .card__head {
              text-align: center;
              top: calc(100% - 2em);
              color: white;
              background: rgba(0, 0, 0, 0.5);
              @include fontprop(2rem,500,$font1);
              transform: rotate(0deg) skew(-5deg);
            }
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1s ease-in-out;
            filter: grayscale(100%);
          }
          &:not(:nth-child(5)) {
            margin-right: 1em;
          }
        }
      }

      

  }
  
  .caption{
    width: 80%;
    margin: 20% 10%;
    text-align: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    color: color(font2);

  }
  
  
  