.modalDialog{
    color: #003265;
    @include fontprop(1rem,800,$font2);
    line-height: 1.5;

    
    .form-container {
        width: 100%;
        .header {
            width: 100%;
            h1{
                text-align: center;
                @include fontprop(2rem,800,$font2);
            }

            p {
                text-align: center;
                @include fontprop(1rem,500,$font3);
            }
        }
        form {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            label {
                display: flex;
                margin-top: 1rem;
            }
            .form-control {
                display: block;
                width: 100%;
                height: 10%;
                color: color(accent);
                font-size: 0.75rem;
            }
            .input-checkbox {
                display: inline;
            }
        }
    }

}