@import "colors";
@import "fonts";
@import "buttons";
@import "media";

@import "carousel";
@import "navbar";
@import "roomBooking";
@import "accomodation";


@import "roomsPage";



// all mixins
@mixin fontprop($size,$weight,$family){
    font-size: $size;
    font-weight: $weight;
    font-family: $family;
}


//general styles 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li{
  list-style: none;
}
a {
  text-decoration: none;
  margin: 0;
}
h1{
    @include fontprop(10rem,600,$font1);
}
p{
    @include fontprop(5rem,400,$font3);
}

body{
  background: color(bg);
}


// css for booking
.booking{
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
  
  .row{
    width: 80%;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: color(accent1);
    border-radius: 10px;
    .col{
      flex-basis: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 50px;
      background: transparent;
      transition: 0.8s;
      a{
        @include fontprop(22px, 900 , $font1 );
        letter-spacing: 2px;
        text-transform: uppercase;
        color:color(font1);
        transition: 0.8s;
      }
      &:hover{
        a{
          color: color(font2);
        }
        background: color(shades3);
      }
    }
    #col1{
      border-radius: 10px 0 0 10px;
    }
    #col2{
      border-radius: 0 10px 10px 0;
    }
  }


  .form-row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .col{
      flex-basis: 100%;
      margin-top: 2%;
      background: transparent;

      label{
        @include fontprop(1rem, 800, $font1 );
        color: color(shades3);
        line-height: 2;
        
      }
      i{
          font-size: 50px;
          color: color(shades3);
        }
      input[value="Date"], [type="number"]{
        width: 90%;
        height: 50px;
        margin-top: 2%;
        padding: 15px 20px;
        @include fontprop(1rem, 800, $font2 );
        text-transform: uppercase;
        color: color(shades3);
        border: 1px solid color(border2);
        outline: none;
      }
      input[type="submit"]{
        @include fontprop(1.4rem,600,$headings);
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        display: inline;
        color: color(shades3);
        background: color(accent1);
        border: 1px solid color(border1);
        width: 30%;
        margin: auto;
        padding: 15px 10px;
        position: relative;
        &:hover{
          border: 1px solid color(shades3);
          background: color(shades3);
          color: color(accent);
          transition: 0.8s;
        }
      }
    }

  }
  
}



// Section Footer

footer{
  width: 100%;
  background-image: linear-gradient(rgba(1,1,1,0.8),rgba(1,1,1,0.5)),url("../img/reception/IMG_0161.JPG");
  background-position: center;
  background-size: cover;
  margin: auto;
  overflow: hidden;
  text-align: center;
  
  .row{
    width: 90%;
    margin: auto;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    .col{
      flex-basis: 31%;
      margin-bottom: 2%;
      cursor: default;
      h1{
        @include fontprop(22px,600 ,$font1 );
        letter-spacing: 2px;
        color: color(primary);
        margin-bottom: 5%;
      }
      h4{
        @include fontprop(18px,600 ,$font1 );
        color: color(accent1);
        margin-bottom: 5%;
      }
      p{
        @include fontprop(16px ,600 ,$font2 );
        color: color(accent1);
        line-height: 20px;
        letter-spacing: 5px;
        text-justify: auto;
        margin: 20px 0;
      }
      
      .link{
        text-decoration: none;
        color: color(primary);
        @include fontprop(16px, 800 ,$font1 );
        padding: 0;
      }
    }
  }
  .row2{
    width: 30%;
    margin: auto;
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    .fab{
      font-size: 40px;
      color: color(primary);
    }
  
  }
  
}






// Section Footer End






@media(max-width:700px){
  .form-row{
    flex-direction: column;
    .col{
      width: 100%;
    }
  }
  .booking .form-row .col input[type="submit"]{
    @include fontprop(1rem,600 ,$font2 );
    width: 80%;
  }
  
  
  


  footer{
     .row{
      flex-direction: column;
      }
      .row2{
          width: 30%;
          .col{
              flex-basis: 20%;
              margin: auto;
              padding-left: 20%;
              padding-right: 20%;
          }
      }    
  }
   
  
}
