@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Prompt:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.show-btn {
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
  text-align: center;
  display: inline;
  color: #EAD46F;
  border: 1px solid transparent;
  padding: 10px 20px;
  top: 50px;
  position: relative;
}

.show-btn:hover {
  border: 1px solid #cccccc;
  background: #4d3d3d;
  color: #FFFFFF;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media (max-width: 700px) and (max-width: 900px) {
  .show-btn {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 0.2rem;
    top: 10%;
  }
}

.banner {
  width: 100%;
  overflow: hidden;
}

@-webkit-keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  48.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  61% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  86% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  98.5% {
    left: -100%;
  }
  100% {
    left: 0;
  }
  /* daqui: https://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/ */
}

@keyframes carousel {
  0% {
    left: 0;
  }
  11% {
    left: 0;
  }
  12.5% {
    left: -100%;
  }
  23.5% {
    left: -100%;
  }
  25% {
    left: -200%;
  }
  36% {
    left: -200%;
  }
  37.5% {
    left: -300%;
  }
  48.5% {
    left: -300%;
  }
  50% {
    left: -400%;
  }
  61% {
    left: -400%;
  }
  62.5% {
    left: -300%;
  }
  73.5% {
    left: -300%;
  }
  75% {
    left: -200%;
  }
  86% {
    left: -200%;
  }
  87.5% {
    left: -100%;
  }
  98.5% {
    left: -100%;
  }
  100% {
    left: 0;
  }
  /* daqui: https://csswizardry.com/2011/10/fully-fluid-responsive-css-carousel/ */
}

@-webkit-keyframes go {
  0% {
  }
  100% {
    left: -300%;
  }
}

@keyframes go {
  0% {
  }
  100% {
    left: -300%;
  }
}

@-webkit-keyframes back {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes back {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.carousel {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}

.carousel .caption {
  width: 80%;
  height: 50%;
  margin: 20% 10%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #FFFFFF;
}

.carousel .caption h1 {
  font-size: 5rem;
  font-weight: 200;
  font-family: "Bebas Neue", cursive;
  color: #F3E297;
  letter-spacing: 1rem;
}

.carousel .caption p {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  color: #F8ECB8;
}

.carousel .paineis {
  width: 500%;
  overflow: hidden;
  height: 100%;
  -webkit-animation: carousel 30s infinite;
          animation: carousel 30s infinite;
  position: relative;
}

.carousel article {
  float: left;
  width: 20%;
  background: #000000;
}

.carousel article img {
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

@media (max-width: 700px) {
  .banner .carousel {
    height: 30%;
  }
  .banner .caption {
    width: 80%;
    height: 30%;
    margin: 20% 10%;
  }
  .banner .caption h1 {
    font-size: 2.5rem;
    font-weight: 100;
    font-family: "Bebas Neue", cursive;
    letter-spacing: .2rem;
  }
  .banner .caption p {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 8vh;
  width: 100%;
  padding: 2% 3%;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  border-bottom: 2px solid #333333;
}

.navigation img {
  width: 150px;
  cursor: pointer;
}

.navigation .navlinks {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

.navigation .navlinks ul li {
  display: inline-block;
  padding: 10px 15px;
  position: relative;
}

.navigation .navlinks ul li a {
  font-size: 18px;
  font-weight: 800;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #4d3d3d;
  cursor: pointer;
}

.navigation .navlinks ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: #333333;
  display: block;
  margin: auto;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.navigation .navlinks ul li:hover::after {
  width: 100%;
}

.navigation .fa {
  display: none;
}

@media (max-width: 700px) {
  .navigation .navlinks {
    position: fixed;
    background: #4d3d3d;
    height: 100vh;
    width: 200px;
    right: -200px;
    top: 0;
    text-align: left;
    z-index: 5;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
  .navigation .navlinks ul li {
    display: block;
  }
  .navigation .navlinks ul li a {
    color: #EAD46F;
  }
  .navigation .navlinks .fa-times {
    text-align: right;
    color: #F3E297;
  }
  .navigation .fa {
    display: block;
    margin: 10px;
    color: #4d3d3d;
    font-size: 22px;
    cursor: pointer;
  }
}

.modalDialog {
  color: #003265;
  font-size: 1rem;
  font-weight: 800;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
}

.modalDialog .form-container {
  width: 100%;
}

.modalDialog .form-container .header {
  width: 100%;
}

.modalDialog .form-container .header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  font-family: "Josefin Sans", sans-serif;
}

.modalDialog .form-container .header p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.modalDialog .form-container form {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.modalDialog .form-container form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.modalDialog .form-container form .form-control {
  display: block;
  width: 100%;
  height: 10%;
  color: #EAD46F;
  font-size: 0.75rem;
}

.modalDialog .form-container form .input-checkbox {
  display: inline;
}

/***********************
 *	Variables
 **********************/
/***********************
  *	Project Main Styles
  **********************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #333333;
}

a {
  font-size: 40px;
  font-weight: 700;
}

.slider-pages {
  overflow: hidden;
  position: relative;
  margin-top: 50px;
  height: 100vh;
}

.slider-page {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100vh;
  -webkit-transition: -webkit-transform 1350ms;
  transition: -webkit-transform 1350ms;
  transition: transform 1350ms;
  transition: transform 1350ms, -webkit-transform 1350ms;
}

.slider-page--skew {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;
  background: #333333;
  -webkit-transform: skewX(-18deg);
          transform: skewX(-18deg);
}

.slider-page--left {
  left: 0;
  -webkit-transform: translateX(-32.5vh) translateY(100%) translateZ(0);
          transform: translateX(-32.5vh) translateY(100%) translateZ(0);
}

.slider-page--left .slider-page--skew {
  left: -40%;
}

.slider-page--left .slider-page__content {
  padding: auto 30% auto 30%;
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.slider-page--right {
  left: 50%;
  -webkit-transform: translateX(32.5vh) translateY(-100%) translateZ(0);
          transform: translateX(32.5vh) translateY(-100%) translateZ(0);
}

.slider-page--right .slider-page--skew {
  right: -40%;
}

.slider-page--right .slider-page__content {
  padding: auto 30% auto 30%;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
}

.slider-page__content {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 30% 0 30%;
  color: #e2e2e2;
  background-size: cover;
  -webkit-transform: skewX(18deg);
          transform: skewX(18deg);
  -webkit-transition: -webkit-transform 1350ms;
  transition: -webkit-transform 1350ms;
  transition: transform 1350ms;
  transition: transform 1350ms, -webkit-transform 1350ms;
}

.slider-page__title {
  margin-bottom: 1em;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.slider-page__title--big {
  font-size: 1.2em;
}

.slider-page__description {
  font-size: 1em;
  text-align: center;
}

.slider-page__link {
  color: #80a1c1;
}

.slider-page__link:hover, .slider-page__link:focus {
  color: #6386a9;
  text-decoration: none;
}

/***********************
  *	Project JS Styles
  **********************/
.js-scrolling__page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.js-scrolling--active .slider-page {
  -webkit-transform: translateX(0) translateY(0) translateZ(0);
          transform: translateX(0) translateY(0) translateZ(0);
}

.js-scrolling--inactive .slider-page__content {
  -webkit-transform: skewX(18deg) scale(0.9);
          transform: skewX(18deg) scale(0.9);
}

.js-scrolling__page-1 .slider-page--left .slider-page__content {
  background-image: url("../img/Honeymoon_Suit/IMG_9832.JPG");
}

.js-scrolling__page-1 .slider-page--right .slider-page__content {
  background-color: #333333;
}

.js-scrolling__page-2 .slider-page--left .slider-page__content {
  background-color: #e2e2e2;
}

.js-scrolling__page-2 .slider-page--left .slider-page__title,
.js-scrolling__page-2 .slider-page--left .slider-page__description {
  color: #333333;
}

.js-scrolling__page-2 .slider-page--right .slider-page__content {
  background-image: url("../img/super_dulex/20210708_180443.jpg");
}

.js-scrolling__page-3 .slider-page--left .slider-page__content {
  background-image: url("../img/super_dulex/20210708_180545(0).jpg");
}

.js-scrolling__page-3 .slider-page--right .slider-page__content {
  background-color: #333333;
}

.roomCarousel {
  margin: auto;
  width: 100%;
  min-height: 80vh;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.roomCarousel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5vmin;
  margin-right: 5vmin;
  margin-top: 10vmin;
  margin-bottom: 5vmin;
  overflow: hidden;
  -webkit-transform: skew(5deg);
          transform: skew(5deg);
}

.roomCarousel .container .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  height: 70vmin;
  position: relative;
}

.roomCarousel .container .card .card__head {
  color: black;
  background: #F3E297;
  padding: 0.5em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  min-width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  font-weight: 800;
  font-family: "Prompt", sans-serif;
  white-space: nowrap;
}

.roomCarousel .container .card:hover {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.roomCarousel .container .card:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.roomCarousel .container .card:hover .card__head {
  text-align: center;
  top: calc(100% - 2em);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  font-size: 2rem;
  font-weight: 500;
  font-family: "Prompt", sans-serif;
  -webkit-transform: rotate(0deg) skew(-5deg);
          transform: rotate(0deg) skew(-5deg);
}

.roomCarousel .container .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.roomCarousel .container .card:not(:nth-child(5)) {
  margin-right: 1em;
}

.caption {
  width: 80%;
  margin: 20% 10%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  overflow: hidden;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  margin: 0;
}

h1 {
  font-size: 10rem;
  font-weight: 600;
  font-family: "Prompt", sans-serif;
}

p {
  font-size: 5rem;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

body {
  background: #FFFFFF;
}

.booking {
  width: 100%;
  padding-top: 20px;
  overflow: hidden;
  text-align: center;
}

.booking .row {
  width: 80%;
  height: 50px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #d3b772;
  border-radius: 10px;
}

.booking .row .col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background: transparent;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.booking .row .col a {
  font-size: 22px;
  font-weight: 900;
  font-family: "Prompt", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.booking .row .col:hover {
  background: #4d3d3d;
}

.booking .row .col:hover a {
  color: #FFFFFF;
}

.booking .row #col1 {
  border-radius: 10px 0 0 10px;
}

.booking .row #col2 {
  border-radius: 0 10px 10px 0;
}

.booking .form-row {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.booking .form-row .col {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-top: 2%;
  background: transparent;
}

.booking .form-row .col label {
  font-size: 1rem;
  font-weight: 800;
  font-family: "Prompt", sans-serif;
  color: #4d3d3d;
  line-height: 2;
}

.booking .form-row .col i {
  font-size: 50px;
  color: #4d3d3d;
}

.booking .form-row .col input[value="Date"], .booking .form-row .col [type="number"] {
  width: 90%;
  height: 50px;
  margin-top: 2%;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 800;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #4d3d3d;
  border: 1px solid #242b2e;
  outline: none;
}

.booking .form-row .col input[type="submit"] {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Asap", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  display: inline;
  color: #4d3d3d;
  background: #d3b772;
  border: 1px solid #cccccc;
  width: 30%;
  margin: auto;
  padding: 15px 10px;
  position: relative;
}

.booking .form-row .col input[type="submit"]:hover {
  border: 1px solid #4d3d3d;
  background: #4d3d3d;
  color: #EAD46F;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

footer {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(1, 1, 1, 0.8)), to(rgba(1, 1, 1, 0.5))), url("../img/reception/IMG_0161.JPG");
  background-image: linear-gradient(rgba(1, 1, 1, 0.8), rgba(1, 1, 1, 0.5)), url("../img/reception/IMG_0161.JPG");
  background-position: center;
  background-size: cover;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

footer .row {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .row .col {
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
  margin-bottom: 2%;
  cursor: default;
}

footer .row .col h1 {
  font-size: 22px;
  font-weight: 600;
  font-family: "Prompt", sans-serif;
  letter-spacing: 2px;
  color: #F3E297;
  margin-bottom: 5%;
}

footer .row .col h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Prompt", sans-serif;
  color: #d3b772;
  margin-bottom: 5%;
}

footer .row .col p {
  font-size: 16px;
  font-weight: 600;
  font-family: "Josefin Sans", sans-serif;
  color: #d3b772;
  line-height: 20px;
  letter-spacing: 5px;
  text-justify: auto;
  margin: 20px 0;
}

footer .row .col .link {
  text-decoration: none;
  color: #F3E297;
  font-size: 16px;
  font-weight: 800;
  font-family: "Prompt", sans-serif;
  padding: 0;
}

footer .row2 {
  width: 30%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .row2 .fab {
  font-size: 40px;
  color: #F3E297;
}

@media (max-width: 700px) {
  .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-row .col {
    width: 100%;
  }
  .booking .form-row .col input[type="submit"] {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    width: 80%;
  }
  footer .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .row2 {
    width: 30%;
  }
  footer .row2 .col {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    margin: auto;
    padding-left: 20%;
    padding-right: 20%;
  }
}
/*# sourceMappingURL=main.css.map */