:root {
    --primary: #8b7b55;
    --accent: #4a4a4a;
    --orange: #F26826;
    --onion: #8E1F63;
    --dark-onion:#705c72;
    --green: #202C16;
    --dosa: #84592E;
}
.resBanner{
    background: radial-gradient(rgba(139, 123, 85, 0.5),rgba(139, 123, 85,0.8));
    height: 100vh;
    padding-top: 5rem;
    
}
.resBanner .row{
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 80px 0;
    margin-left: 80px;
}
.col-2 h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 60px;
    /* font-family: 'Damion', cursive; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 2px var(--onion);
    color: var(--onion);
    margin: 30px 0;
    padding-left: 30px;
    text-justify: auto;
}
.col-2 p{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--green);
    margin: 20px 0;
    padding-left: 30px;
    padding-right: 15px;
}
.col-2 bttn{
    margin: 15px 0;
}
.btn{
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    background: var(--onion);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: var(--primary);
    color: #fff;
}

/* catagories */
.catagories{
    margin: 30px 0;

}
.catagories h1{
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 40px;
    color: var(--primary);
    /* font-family: 'Damion', cursive; */
    font-size: 50px;
    font-weight: 700;

}
.catagories h1::after{
    content: '';
    background: var(--primary);
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: 130%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.catagories .row{
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-3{
    flex-basis: 30%;
    width: 250px;
    height: 300px;
    border-radius: 5px;
    padding: 0;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 3px var(--accent);
    transition: transform 0.5s;

}
.col-3:hover{
    transform: translateY(-5px);    
    box-shadow: 0 2px 30px 1px var(--accent);
}
.col-3 img{
    width: 100%;
    height: 100%;    
    border-radius: 5px;
}
.small-container{
    max-width: 1500px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.small-container .row{
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* featured items */
.col-4{
    flex-basis: 23%;
    padding: 0;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    box-shadow: 0 2px 5px 3px rgba(63, 61, 56, 0.2);
    border-radius: 8px;
    margin-right: 5px;
}
.col-4 img{
    width: 100%;
    height: 250px;
    border-radius: 8px 8px 10px 10px;
}
.cart-btn{
    display: inline-block;
    text-decoration: none;
    /* font-family: 'Damion', cursive ; */
    background: var(--primary);
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 0.3rem 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    transition: background 0.5s;
}
.cart-btn:hover{
    background: var(--dosa);
    color: #fff;
}
.title{
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 40px;
    color: var(--primary);
    /* font-family: 'Damion', cursive; */
    font-size: 50px;
    font-weight: 700;
}
.title::after{
    content: '';
    background: var(--primary);
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    top: 130%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.col-4 h4{
    color: var(--primary);
    font-weight: 700;
    font-size: 17px;
    margin: 0.5rem;
    margin-bottom: 0;
    /* font-family: 'Dancing Script', cursive; */

}
.col-4 p{
    font-size: 14px;
    font-weight: 600;
    color: var(--accent);
    margin: 0.5rem;
    margin-bottom: 0;
    

}
.rating{
    
    margin: 0.5rem;
    margin-bottom: 0;
}
.rating .fa{
    color: var(--orange);
    font-size: 14px;
    margin-right: 0.2rem;
}
.col-4:hover{
    transform: translateY(-5px);    
    box-shadow: 5px 10px 10px 1px rgba(63, 61, 56, 0.5);
}
/* offer css */
.offer{
    background: radial-gradient(rgba(139, 123, 85, 0.5),rgba(139, 123, 85,0.8));
    height: 600px;
    margin-top: 80px;
    padding: 20px 0;
}
.offer 
.col-2 .offer-img{
    max-width: 100%;
    padding: 50px;
    margin-left: 2px;
}
.small{
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    font-family:'Dancing Script', cursive;
    color: var(--dark-onion);
    margin: 20px 0;
    padding-left: 30px;
    padding-right: 15px;
}
.col-2 a{
    margin: 10px 30px;
}


/* testimonial css */

.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    height: fit-content;
    text-align: center;
    padding: 40px 70px;
    box-shadow: 0 0 10px 2px rgba(63, 61, 56, 0.2);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1rem 0.5rem;

}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 40px;
    color: var(--onion);
}
.col-3 p{
    height: 60px;
    width: fit-content;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    font-weight: 400;
    /* font-family: 'Dancing Script', cursive; */
    margin: 1rem 0;
    color: var(--dark-onion);
}
.testimonial .col-3 h3{
    font-size: 20px;
    font-weight: 600;
    /* font-family: 'Damion', cursive; */
    color: var(--onion);
    margin: 0.5rem;
}
/* brands css */

.brands{
    
    margin: 100px 0;
    
    

}
.col-5{
    width: 100px;
    
}
.col-5 img{
    width: 100px;
    height: 100px;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

