.loginContainer {
  width: 80%;
  height: fit-content;
  margin: 5rem auto;
  padding: 2rem 0;
  background:  url("https://static.vecteezy.com/system/resources/previews/002/070/933/non_2x/abstract-template-design-white-and-gray-background-geometric-overlapping-layer-with-golden-line-luxury-style-vector.jpg");
  /* background: red; */
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: 10px;

}

.loginContainer .textBody {
  width: fit-content;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  animation: slideIn 2s;
}
.loginContainer .textBody h4 {
  font-size: 50pt;
  font-weight: 500;
  color: #594433;
}
.loginContainer .textBody h1 {
  font-size: 70pt;
  font-weight: 700;
  color: rgba(132, 89, 46, 1);
  /* transform: translate(-5rem, 70%);   */
  margin-left: 20rem;
}


@keyframes slideIn {
  from{
    transform: translateY(400px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.loginContainer .loginBody {
  width: 50rem;
  height: fit-content;
  margin-left: 2rem;
  background: linear-gradient(rgba(132, 89, 46, 0.5), rgba(132, 89, 46, 0.8));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* box-shadow: 0 0 2px 2px rgba(56, 36, 16, 0.5); */
}
.loginContainer .loginBody .loginHeader {
  width: 100%;
  height: fit-content;
  padding: 1rem 0;
  background: rgb(58, 37, 17);
  border-radius: 10px 10px 0 0;
  border: none;
  border-bottom: 1px solid #fff;
}

.loginContainer .loginBody .loginHeader h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-left: 3rem;
}

.loginContainer .loginBody .loginContent {
  margin-top: 0.5rem;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}
.loginContainer .loginBody .loginContent .inputField {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #fff;
  margin: 1rem auto;
}
.loginContainer .loginBody .loginContent .checkField{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid transparent;
  margin: 1rem auto;
  margin-bottom: 0;
  
}
.loginContainer .loginBody .loginContent .checkField input[type="checkbox"]{
  background: transparent;
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;

}

.loginContainer .loginBody .loginContent .checkField label{
  
  color: #fff;
}

.loginContainer .loginBody .loginContent .btnField {
  border: none;
}
.loginContainer .loginBody .loginContent .inputField label {
  width: 30px;
  height: 30px;
  color: #fff;
  margin-left: 0.5rem;
}
.loginContainer .loginBody .loginContent .inputField label ion-icon {
  width: 25px;
  height: 25px;
}
.loginContainer .loginBody .loginContent .inputField input {
  width: 100%;
  height: 30px;
  background: transparent;
  font-size: 16px;
  border: none;
  outline: none;
  padding-left: 0.2rem;
  color: #fff;
}

.loginContainer .loginBody .loginContent .inputField input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.loginContainer .loginBody .loginContent .inputField button {
  width: 100%;
  height: 40px;
  margin: 1rem auto;
  font-size: 18px;
  font-weight: 600;
  background: rgb(58, 37, 17);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}
.loginContainer .loginBody .loginContent .inputField button:hover {
  background: rgba(83, 57, 30, 0.616);
  color: #fff;
}

.loginContainer .loginBody .otherContent {
  margin-top: 0.5rem;
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.loginContainer .loginBody .otherContent .inputField {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  margin: 0.2rem auto;
  margin-bottom: 1rem;
}
.loginContainer .loginBody .otherContent .inputField a {
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
.loginContainer .loginBody .otherContent .inputField button {
  width: 50px;
  height: 50px;
  margin: 0.5rem ;
  font-size: 18pt;
  background: rgb(58, 37, 17);
  color: #fff;
  outline: none;
  border: none;
  border-radius: 50%;
  transition: all 0.5s;

  display: flex;
  align-items: center;
  justify-content: center;

}

.loginContainer .loginBody .divider {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginContainer .loginBody .divider p {
  margin: auto 0.5rem;
  color: #fff;
  font-size: 16px;
}
.loginContainer .loginBody .divider span {
  width: 100%;
  height: 1px;
  background: #fff;
}
